[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/libsndfile"]
	path = extern/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "extern/nodeeditor"]
	path = extern/nodeeditor
	url = https://github.com/Malcohol/nodeeditor.git
