name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    # Stop actions on draft PRs
    types: [opened, reopened, synchronize, ready_for_review]
  workflow_dispatch:

jobs:
  build-and-test:
    if: github.event.pull_request.draft == false
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config: 
        - {
            name: "Ubuntu_GCC",
            os: ubuntu-24.04,
            build_type: "Debug",
            targetFolder: "",
            exeExtension: "",
            cc: "gcc-14",
            cxx: "g++-14"
          }
        - {
            name: "Windows Latest MSVC",
            os: windows-latest,
            build_type: "Debug",
            targetFolder: "Debug/", # Must match build_type.
            exeExtension: ".exe",
            cc: "cl",
            cxx: "cl",
            generators: "Visual Studio 16 2019"
          }
        #- {
        #    name: "macOS Latest Clang",
        #    os: macos-latest,
        #    build_type: "Debug",
        #    targetFolder: "",
        #    exeExtension: "",
        #    cc: "clang",
        #    cxx: "clang++"
        #  }

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies on ubuntu
      if: startsWith(matrix.config.name, 'Ubuntu_GCC')
      run: |
        sudo apt-get update
        sudo apt-get install cmake ${{ matrix.config.cc }} ${{ matrix.config.cxx }} qt6-base-dev libasound2-dev
        cmake --version
        gcc --version
        g++ --version

    - name: Install dependencies on macOS
      if: startsWith(matrix.config.os, 'macos')
      run: |
        brew install cmake qt6
        cmake --version
        clang --version

    - name: Install Qt on Windows
      if: startsWith(matrix.config.os, 'windows')
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.8.3'
        host: 'windows'

    - name: Configure CMake
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }}
      env:
        CC:   ${{ matrix.config.cc }}
        CXX:  ${{ matrix.config.cxx }}

    - name: Build
      run: cmake --build build --config ${{ matrix.config.build_type }}

    - name: CommonTest
      working-directory: build
      shell: bash
      run: Tests/Common/${{ matrix.config.targetFolder }}commonTests${{ matrix.config.exeExtension }}

    - name: BabelWiresTest
      working-directory: build/Tests/BabelWiresLib
      shell: bash
      run: ./${{ matrix.config.targetFolder }}babelWiresTests${{ matrix.config.exeExtension }}

    - name: MusicLibTests
      working-directory: build
      shell: bash
      run: Domains/Music/Tests/MusicLib/${{ matrix.config.targetFolder }}musicLibTests${{ matrix.config.exeExtension }}

    - name: Seq2tapeLibTests
      working-directory: build
      shell: bash
      run: Domains/Music/Tests/Seq2tapeLib/${{ matrix.config.targetFolder }}seq2tapeLibTests${{ matrix.config.exeExtension }}

    - name: SmfTests
      working-directory: build/Domains/Music/Plugins/Smf/Tests
      shell: bash
      run: ./${{ matrix.config.targetFolder }}SmfTests${{ matrix.config.exeExtension }}
